// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue';
$text-ar-font-stack: 'Helvetica Neue AR';

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New';

/// Copy text color
/// @type Color
$text-color: black;

/// Main brand color
/// @type Color
$brand-color:   #FF7900;
$primary-hover: #c15800;
$primary:       #FF7900;
$secondary:     black;
$success:       #50BE87;
$info:          #4BB4E6;
$warning:       #FFD200;
$danger:        #CD3C14;
$light:         #ccc;
$dark:          black;
$error:         #CD3C14;
$body-bg:       #fff;
$blue:          #4BB4E6;
$green:         #50BE87;
$teal:          #B8EBD6;
$pink:          #FFB4E6;
$yellow:        #FFD200;
$purple:        #A885D8;
$cyan:          #4BB4E6;
$orange:        #FF7900;
$grey-200:      #ccc;
$gray-400:      #D6D6D6;
$gray-600:      #8F8F8F;
$gray-800:      #595959;
$info-color:    #527EDB;

/// Light grey
/// @type Color
$light-grey:    #D6D6D6;

/// Medium grey
/// @type Color
$mid-grey:      #8F8F8F;

/// Dark grey
/// @type Color
$dark-grey:     #595959;

/// Container's maximum width
/// @type Length
$max-width: 950px;
// Bootstrap map
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1195px
// );

/// Box Shadow
$main-box-shadow: 0 3px 10px rgba(62,85,120,.045);

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/'; // Local
$base-url: '/Style%20Library/GSM/Angular/.../.../assets/'; // Production
$fonts-url: '/Style%20Library/';

/// Bootstrap
/// @type Input
$input-bg: transparent;
$input-border-radius: 0;
$form-check-input-border-radius: 0;
$input-border-width: 2px;
$input-border-color: $grey-200;
$input-font-weight: bold;
$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;
$input-placeholder-color: $dark-grey;
$form-select-border-radius: 0;

/// @type Label
$form-label-font-weight: bold;

/// @type Button
$btn-disabled-opacity: 1;
$btn-border-width: 2px;
$btn-font-weight: bold;
$btn-line-height: 1rem;

/// @type Alert
$alert-border-radius: 0;
$alert-background: transparent;
$alert-border-width: 2px;

/// @type Dropdown
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;
$dropdown-padding-x: 0;
$dropdown-border-width: 0;
$dropdown-border-radius: 0;
$dropdown-bg: black;
$dropdown-link-color: white;
$dropdown-link-hover-color: $brand-color;
$dropdown-link-hover-bg: black;
$dropdown-link-active-bg: black;
$dropdown-item-padding-x: 20px;
$dropdown-item-padding-y: 15px;

/// @type Card
$card-border-radius: 0;
$card-spacer-y: 0;
$card-spacer-x: 0;
$card-border-width: 2px;
$card-border-color: $grey-200;

/// @type Modal
$modal-content-border-radius: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;